/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------------- */

:root {
	--Cwidth: 35vw;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations');
  /* font-stretch: 75% 100%;
  font-style: oblique 0deg 12deg; */
  font-weight: 100 900;

	font-family: 'Bitter';
	src: url('fonts/Bitter-VariableFont_wght.ttf') format('truetype-variations');
	/* font-stretch: 75% 100%;
	font-style: oblique 0deg 12deg; */
	font-weight: 100 900;

	font-family: 'Bitter italic';
	src: url('fonts/Bitter-Italic-VariableFont_wght.ttf') format('truetype-variations');
	/* font-stretch: 75% 100%;
	font-style: oblique 0deg 12deg; */
	font-weight: 100 900;
}



body,html {
  height: 100%;
	/* transform: translate(0%, 0); */
		overflow: hidden;
}

main {
  display: block;
  width: 100%;
  height: 100%;
  /* font-family: 'Bitter', serif; */
		font-family: 'Bitter';
  font-weight: 400;
	background-color: white;
}

.onload {
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 3;
	position: relative;
}

.introText{
	width: 50vw;
	margin: auto;
	text-align: center;
	/* position: relative;
	top: 25vh;
	left: 25vw; */
	font-size: 22px;
	line-height: 1.3em;
	color: white;
}


.tp{
  font-family: 'Bitter';
	font-size: 17px;
	font-weight: 250;
	opacity: 0.7;
}

.blue {
	width: 15px;
	height: 15px;
	background-color: blue;
}

@keyframes flicker {
	0% {color: white;}
	100% {color: black;}
}

strong {
	font-weight: 700;

	animation-name: flicker;
	animation-duration: .8s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

aside {
	font-family: 'Archivo', sans-serif;
	font-size: 17px;
	font-weight: 400;


	z-index: 2;
	position: fixed;
	bottom: 0;
	/* transform: translate(20%, 0); */

	width: 100vw;
	height: 40vh;

	background-color: black;
	color: white;
}

/* .showHandle{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	background-color: white;
	width: 45px;
	height: 15px;

	border: 5px solid white;
	border-radius: 0 0 5px 5px;
} */

.showHandle:hover{
	 cursor: pointer;
}

.controls {
	margin-top: 30px;

	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.controlcontainer {
	width: var(--Cwidth);

	margin-bottom: 2em;
	/* margin-right: 5px;
	margin-left: 5px; */


	/* position: relative;
	left: 3em;
	top: 2em; */
/*
	margin-right: 6em;
	margin-bottom: 15px; */
}

.controlcontainer:nth-of-type(1), .controlcontainer:nth-of-type(3) {
	margin-right: 20px;
}
.controlcontainer:nth-of-type(2), .controlcontainer:nth-of-type(4) {
	margin-left: 20px;
}

.controls>div>p {
	margin-bottom: 10px; */
}

/* container */
.slider {
  -webkit-appearance: none;
  width: var(--Cwidth);
  height: 1.5px;
  border-radius: 5px;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* slider */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
	border-width: 1.7px;
	border-color: white;

	background: black;

  cursor: pointer;
}

/* handle */
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
	border-width: 1.7px;
	border-color: white;

  background: black;
  cursor: pointer;
}


.credits {
	position: absolute;
	bottom: 20px;
	margin-left: 30px;

	opacity: 0.6;
	font-size: 15px;
}

.credits:hover {

}

.plusCredits {
	font-size: 12px;
	margin-left: 2px;
	display: none;
	opacity: 0;
	transition: opacity 3s ease-in;
}


.plus {
		transition: transform .5s ease-in-out;
		position: relative;
		top: -3px;
}

.plus:hover {
			cursor: pointer;
	transform:rotate(180deg);
}

.plus:hover + .plusCredits {
	display: inline-block;
	opacity: 1;
}

span {
  display: inline-block;
	position: fixed;
}

.privacy {
  font-family: sans-serif, helvetica;
  font-size: 200px;
  font-weight: 600;
  text-align: center;
  position: fixed;
  top: 35vh;
  left: 10vw;
  color: white;
  background: none;

	z-index: 1;
}

@media only screen and (min-width: 992px) {
	:root {
		--Cwidth: 12vw;
	}

	.introText {
		position: relative;
		top: 47vh;
	}

	aside {
			position: fixed;
			right: 0;

			width: 16vw;
			height: 100vh;
			opacity: 0.95;
	}

	.controlcontainer:nth-of-type(1), .controlcontainer:nth-of-type(3) {
		margin-right: 0px;
	}
	.controlcontainer:nth-of-type(2), .controlcontainer:nth-of-type(4) {
		margin-left: 0px;
	}

	.controls {
		margin-top: 30px;

		align-content: center;
		flex-direction: column;



	}



}
